body{
    font-family: "Times New Roman", Times, serif;}

header {
    border: solid 3px rgba(119, 103, 130, 1);
    background-color: #ffffff;
    text-align: center;
    position: sticky;
    top: 0;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    font-family: 'Inria Serif';
}
    
.me {
    width: 30%;
    text-align: center;
    margin: auto;
    display: block;
}
li:hover {
    background-color: rgba(119, 103, 130, 1);
    color: #ffffff;
}
a{
    color: #ffffff;
}
a.active {
    background-color: #ffffff;
    color: rgba(119, 103, 130, 1);
    border-radius: 10px;


}
.form{
    padding-top: 50px;
    color: rgba(119, 103, 130, 1);
    text-align: center;
}
.div-1 {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #ffffff;
    color: rgba(119, 103, 130, 1);
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;

}
.div-2 {
    padding: 50px;
    background: rgba(119, 103, 130, 1);
    color: #ffffff
}
.div-2 h1 {
    text-align: center;
    justify-content: center;

}
.div-2 img {
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50px;
    border: #FFFFFF 1px solid;
}
.div-3 {
    padding: 50px;
    background: #ffffff;
    color: rgba(119, 103, 130, 1);
    text-align: center;

}
.div-3W {
    padding: 50px;
    background: #ffffff;
    color: rgba(119, 103, 130, 1);
    justify-content: center;
    text-align: center;

}
.div-31, .div-32, .div-33 {
    display: flex;
    border-radius: 10px;
    border: rgba(119, 103, 130, 1) 2px solid;
    margin: 30px;
}
.div-31W, .div-32W, .div-33W {
    display: inline-block;
    margin: 5px;
}
.img1, .img2, .img3{
   width: 20%;
}

.img1 img, .img2 img, .img3 img {
    width: 180px;
    height: auto;
    border-radius: 50px;
    border: rgba(119, 103, 130, 1) 1px solid;
    margin: 20px;
}
.img1W img, .img2W img, .img3W img {
    width: 180px;
    height: auto;
    border-radius: 50px;
    border: rgba(119, 103, 130, 1) 1px solid;
    margin: 1px;
}
.txt1, .txt2, .txt3 {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 55%;
    text-align: center;
    margin: auto;
}
h1 {
    font-size: 80px;
}
.div-3 button {
    margin-bottom: 20px;
    font-size: 200%;
    background-color: rgba(119, 103, 130, 1);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;  
}
.div-3 button:hover {
    background: #998CA0;
    transition: 1s all;
  }
.div-3 p {
    padding-left: 100px;
    padding-right: 100px;
    text-align: justify;
    font-size: 20px;
    line-height: 1.8;
}
.subtitle {
    text-align: center;
    justify-content: center;
}
footer {
    background: #998CA0;
    color: #ffffff;
    padding: 50px;
    align-items: center;
    justify-content: center;
}

  input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  } 
  input[type=submit] {
  background-color: rgba(119, 103, 130, 1);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;  
  }
  input[type=submit]:hover {
     background: #998CA0;
    transition: 1s all;
  }
  .contact-form{
    margin-bottom: 5rem;
    margin-left: 7rem;
    margin-right: 7rem;
    color: rgb(0, 0, 0);
  }
  @media (min-width: 360px){
    .contact-form{
      margin-left: 0;
      margin-right: 0;
    }
    
  }
  